# don't track the downloaded source packages
cache/

# don't track the finalized image files
run/

# ignore the rootfs for all setups
**/rootfs

# ignore all info directories
**/info

# ignore log files
*logfile
